button {
  margin: 30px 0 0 0 ;
  height: 30px;
  width: 200px;
  border: none;
  font-size: 1.4em;
}


/* --- Styles for the ng-show and hide  ---- */


.boxHolder {
  height: 200px;
}
/*Created a box with the .hideShow div. Set the color, size and transition*/

.hideShow{
  width: 300px;
  height: 200px;
  background-color: #350399;
  transition: all linear .5s;
}

/* the .ng-hide class changes the position of the box to -200px top margin,
left 200px and background color to transparent*/

/*The Angular Animation give a smooth transition from one class to another
on hide and show*/
.ng-hide {
  height: 0;
}

/* Styles for ng-repeat*/

.listHolder{
  height: 400px;
}
.itemHolder{
  margin-top:15px;
  padding:15px;
  border-radius:2px;
  background-color:#eeeeee;
  width: 300px;
}
.itemText{
  color:black;
}

/*  CSS to control speed and opacity when leaving*/
.itemHolder.ng-leave.ng-leave-active,
.itemHolder.ng-enter {
  opacity:0;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}


/*  CSS to control speen and opacity when entering*/
.itemHolder.ng-leave,
.itemHolder.ng-enter.ng-enter-active {
  opacity:1;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

footer{
  background-color: #eeeeee;
  height: 60px;
  margin-top: 80px;
}
